html{
    height: 100%;
    position: relative;
}


body{
    display: flex;
    margin: 0;
    flex-direction: column;
    min-height: 100%;
    background-color: darkgrey;
    background-image: url(../Pictures/backgroung_Grey.jpg);

}
main{
    flex:1;
}


main select {
    height: 20px;
}
main div {
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    border-style: solid;
    align-items: center;
    border-color: darkolivegreen;
    background-color: rgba(150,120,90,0.5);
    margin-top: 10px;
    margin-bottom: 10px;

}
main .PSelect {
    flex: 1;
    border: none;
    background-color: unset;
    position: absolute;
    margin-left: 600px;


}


main div button {

    margin-right: 20px;

}


main > h1 {

    color: darkolivegreen;
    font-family: "Niagara Engraved";
    text-align: center;
    font-size: 100px;
}
main >  img {


    align-self: center;
}
main > p> img {

    margin-right: 100px;
    align-self: center;

}

main > h2 {

    color: White;
    margin-right: 200px;
}

.Title {

    font-size: 40px;
    color: black;
    margin-left: 210px;
    position: absolute;

}



@media screen and (max-width: 1000px ) {

    main div  {

        height: auto;

        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    main .PSelect {


        justify-items: center;
        position: unset;
        margin-left: unset;


    }

    .Title{
        position: unset;
        margin-left: unset;

    }

        main div button {

            margin-bottom: 20px;
            margin-right: unset;

        }
    }
