html {
    height: 100%;
    position: relative;
}

body {
    display: flex;
    margin: 0;
    flex-direction: column;
    min-height: 100%;
    background-image: url(../Pictures/Background_H.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    flex: 1;
}

main div div{
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    border-style: solid;
    align-items: center;
    border-color: darkolivegreen;
    background-color: rgba(150, 120, 90, 0.5);
    margin-top: 10px;
    margin-bottom: 10px;
}

main h1 {
    color: darkolivegreen;
    font-family: "fangsong";
    text-align: center;
    font-size: 100px;
}

main div img {
    align-self: center;
    object-fit: cover;
    height: 200px;
    width: 200px;
}
.Title{
    font-size: 40px;
    color: black;
    margin-left: 210px;
    position: absolute;
}
 .PSelect {
    flex: 1;
    border: none;
    background-color: unset;
    position: absolute;
    margin-left: 550px;
}
 .Price {
     border: none;
     background-color: unset;
     font-size: 40px;
     color: darkslategray;
     margin-left: 1210px;
     position: absolute;
 }

main button {

    margin-right: 20px;
}

main button img {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

@media screen and (max-width: 1000px ) {

    main div div {
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
    }

     .PSelect {
        justify-items: center;
        position: unset;
        margin-left: unset;
    }

    .Title {
        position: unset;
        margin-left: unset;
    }
    .Price{
        justify-items: center;
        position: unset;
        margin-left: unset;
    }

    main  button {

        margin-bottom: 20px;
        margin-right: unset;

    }
}
