html{
    height: 100%;
    position: relative;
}


body{
    display: flex;
    margin: 0;
    flex-direction: column;
    min-height: 100%;
    background-color: darkgrey;
    background-image: url(../Pictures/backgroung_Grey.jpg)

}
main{
    flex:1;
}






main .fanta1{
    background-image: url(../Pictures/fanta.jpg);
    background-size: cover;
    height: 200px;
    width: 200px;
}
main .redbull{
    background-image: url(../Pictures/redbull.png);
    background-size: cover;
    height: 200px;
    width: 200px;


}
main select {
    height: 30px;
    background-color: darkviolet;
    border-radius: unset;
    color:white;
}
main div {
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    border-style: solid;
    align-items: center;
    border-color: darkolivegreen;
    background-color: rgba(100,100,250,0.5);
    margin-top: 10px;
    margin-bottom: 10px;

}
main div button {

    margin-right: 20px;


}


main > h1 {

    color: darkolivegreen;
    font-family: "Niagara Engraved";
    text-align: center;
    font-size: 100px;
}
main >  img {


    align-self: center;
}
main > p> img {

    margin-right: 100px;
    align-self: center;

}
main > h2 {

    color: White;
    margin-right: 200px
;
}



@media screen and (max-width: 1000px ) {

    main div {

        height: auto;
        flex-direction: column;
    }
        main div button {

            margin-right: unset;
            margin-bottom: 20px;
        }
            main div select {

             margin-top: 20px;
                margin-bottom: 20px;
            }
        }



