html {
    height: 100%;
    position: relative;
}

body {
    display: flex;
    margin: 0;
    flex-direction: column;
    min-height: 100%;
    background-image: url(../Pictures/Background_H.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    flex: 1;
}

main select {
    height: 30px;
    background-color: darkviolet;
    border-radius: unset;
    color: white;
}

main div form {
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    border-style: solid;
    align-items: center;
    border-color: darkolivegreen;
    background-color: rgba(100, 100, 250, 0.5);
    margin-top: 10px;
    margin-bottom: 10px;

}

main div button {
    margin-right: 20px;
}

main > h1 {
    color: darkolivegreen;
    font-family: "fangsong";
    text-align: center;
    font-size: 100px;
}

main div img {
    align-self: center;
    object-fit: cover;
    height: 200px;
    width: 200px;
}

main div button img {
    object-fit: cover;
    height: 50px;
    width: 50px;

}

main > h2 {
    color: White;
    margin-right: 200px;
}

main .PSelect {
    flex: 1;
    border: none;
    background-color: unset;
    position: absolute;
    margin-left: 600px;
}

.Title {
    font-size: 40px;
    color: black;
    margin-left: 210px;
    position: absolute;
    border-style: solid;
    border-color: darkolivegreen;
}
.Price {
    border: none;
    background-color: unset;
    font-size: 40px;
    color: darkslategray;
    margin-left: 800px;
}

@media screen and (max-width: 1300px ) {

    main form {
        height: auto;
        flex-direction: column;
    }

    main div button {
        margin-right: unset;
        margin-bottom: 20px;
    }

    main div select {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    main .PSelect {
        justify-items: center;
        position: unset;
        margin-left: unset;
    }

    .Title {
        position: unset;
        margin-left: unset;

    }
    .Price{
        justify-items: center;
        position: unset;
        margin-left: unset;
    }

    main select {
        position: unset;
        margin-left: unset;
    }
}

